button:hover{
    transition-duration: 0.5s ;
   background-color: rgba(104, 89, 89, 0.178); 
    /* border: 1px solid #ffffff;  */
}
button:active{
    transition-duration: 0.5s;
    background-color: rgba(32, 32, 32, 0.39);
}
.micro_r{
    width: 2vw;
    height: 5vh;
    border-radius: 0 0.5vh 0.5vh 0 ;
    background: rgb(255, 255, 255, 0.2);
    color: white;
}
.micro_r:hover{
    /* border-top: 1px solid #ffffff;    
    border-right: 1px solid #ffffff;  
    border-bottom: 1px solid #ffffff;   */
    border-radius: 0 0.5vh 0.5px 0px;
}


.micro_l{
    width: 2vw;
    height: 5vh;
    border-radius: 0.5vh 0 0 0.5vh;
    background: rgb(255, 255, 255, 0.2);
    color: white;
    
}
.micro_l:hover{
    /* border-top: 1px solid #ffffff;    
    border-left: 1px solid #ffffff;  
    border-bottom: 1px solid #ffffff; */
    border-radius: 0.5vh 0px 0px 0.5vh;
}
